:root {
  --mobilePagiHeight: 75px;
  --mobilePagiBorder: 2px solid blue;
  --mobilePagiBack: gray;
  --mobilePagiActive: maroon;

  --mobilePageButtonSize: 75px;

  --mobileForeColor: green;
}
#mobilePagiCont {
  display: flex;

  position: absolute;
  bottom: 0;

  justify-content: space-around;
}
.mobileListLinks {
  height: var(--mobilePagiHeight);
  width: 100vw;
  margin: 10px;

  display: flex;
  justify-content: space-around;

  margin: 0;
  * {
    border: var(--mobilePagiBorder);
    color: var(--mobileForeColor);
    background: var(--mobilePagiBack);
    cursor: pointer;
    text-decoration: none;
  }
}
.mobilePageButton {
  width: var(--mobilePageButtonSize);
  padding: 5px;
  box-sizing: content-box;

  display: flex;
  align-items: center;
  justify-content: center;

  list-style-type: none;
}
.mobilePageButtonActive {
  background: var(--mobilePagiActive);
}
