:root {
  --pagiHeight: 40px;
  --pagiBorder: 2px solid black;
  --pagiBack: aliceblue;
  --pagiActive: gray;

  --pageButtonSize: 75px;

  --changePageButtonSpace: 10px;

  --foreColor: black;
}

#pagiCont {
  display: flex;
  justify-content: center;
}

.changePageButton {
  padding: var(--changePageButtonSpace);
}
.listLinks {
  height: var(--pagiHeight);
  width: 100vw;

  display: flex;

  margin: 0;
  * {
    border: var(--pagiBorder);
    color: var(--foreColor);
    background-color: var(--pagiBack);
    cursor: pointer;
    text-decoration: none;
  }
}
.pageButton {
  width: var(--pageButtonSize);
  padding: 5px;
  box-sizing: content-box;

  display: flex;
  align-items: center;
  justify-content: center;

  list-style-type: none;
}
.pageButtonActive {
  background: var(--pagiActive);
}
